<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Atrium</title>
    <link rel="shortcut icon" href="@Url.Content("~/favicon.ico")"/>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @{
        atriumBE.atriumManager atmng =(atriumBE.atriumManager) this.Session["Atmng"];
    }

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Login", "Home")" class="navbar-brand"><img src="@Url.Content("~/content/images/atriumtrans16.png")" alt="" title="@Html.TranlateLabel(atmng, "Home", "Accueil")" class="brandicon" />Atrium - @if (atmng != null) { @atmng.AppMan.ServerName}</a>
                @*
                    Html.ActionLink("Atrium", "Index", "Home", null, new { @class = "navbar-brand" })
                *@
            </div>
            @if (this.Session["Atmng"] != null)
            { 
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink(Html.TranlateLabel(Helper.Atmng(), "Search", "Recherche"), "Index", "Search")</li>
                    <li>@Html.ActionLink(Html.TranlateLabel(Helper.Atmng(), "About Us", "À propos de nous"), "About", "Home")</li>
                    <li>@Html.ActionLink(Html.TranlateLabel(Helper.Atmng(), "Contact Us", "Contactez-nous"), "Contact", "Home")</li>
                </ul>

                <ul class="nav navbar-nav navbar-right small">
                    <li>@Html.ActionLink(Html.TranlateLabel(Helper.Atmng(), "Français", "English"), "Lang", "Home")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> @Helper.Atmng().WorkingAsOfficer.FirstName  @Helper.Atmng().WorkingAsOfficer.LastName <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            
                            <li>@Html.ActionLink(Html.TranlateLabel(Helper.Atmng(), "Logout", "Fin de session"), "Logout", "Home")</li>
                            <li>@Html.ActionLink(Html.TranlateLabel(Helper.Atmng(), "Change password", "Modifier votre mot de passe"), "ChangePassword", "Home")</li>
                            
                        </ul>
                    </li>
                </ul>
            </div>
            }
        </div>
    </div>
    <div class="container-fluid">
            @RenderBody()
            <hr />

            <footer class="footer">
                <div class="container">
                    <p class="text-muted">&copy; @DateTime.Now.Year - Her Majesty</p>
                </div>
            </footer>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
