@{
    ViewBag.Title = Html.TranlateLabel(Helper.Atmng(), "Change Password", "Modifier mot de passe");
}
<div class="container">
    <h3 class="marBottom">@Html.TranlateLabel(Helper.Atmng(), "Change Password", "Modifier votre mot de passe")</h3>

    <div class="row">
        <div class="col-sm-8">

            @using (Html.BeginForm("ChangePassword", "Home", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                if (ViewBag.Error != null)
                {
                    <div class="form-group">
                        <div class="col-sm-8">
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                @ViewBag.Error
                            </div>
                        </div>
                    </div>
                }
                <div class="form-group">
                    <label for="keyword" class="control-label col-sm-3">@Html.TranlateLabel(Helper.Atmng(), "Old password:", "Ancien mot de passe :")</label>
                    <div class="col-sm-5">
                        <input type="password" class="form-control" name="oldPassword" id="oldPassword" autofocus />
                    </div>
                </div>
                <div class="form-group">
                    <label for="keyword" class="control-label col-sm-3">@Html.TranlateLabel(Helper.Atmng(), "New password:", "Nouveau mot de passe :")</label>
                    <div class="col-sm-5">
                        <input type="password" class="form-control" name="newPassword" id="newPassword" autofocus />
                    </div>
                </div>
                <div class="form-group">
                    <label for="keyword" class="control-label col-sm-3">@Html.TranlateLabel(Helper.Atmng(), "Confirm password:", "Confirmation du mot de passe :")</label>
                    <div class="col-sm-5">
                        <input type="password" class="form-control" name="confPassword" id="confPassword" autofocus />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-5">

                        <input type="submit" class="btn btn-primary" value="@Html.TranlateLabel(Helper.Atmng(), "Change Password", "Modifier mot de passe")" />
                    </div>
                </div>

            }

        </div>
    </div>

</div>