@model PagedList.IPagedList<lmDatasets.atriumDB.ActivityRow>
@using PagedList.Mvc;
@{
    atriumBE.FileManager fm = ViewBag.fm;
    ViewBag.Title = fm.CurrentFile.Name + " (" + fm.CurrentFile.FullFileNumber + ")";
    ViewBag.Screen = Html.TranlateLabel(fm.AtMng, "Activity", "Activités");
    lmDatasets.atriumDB.ActivityRow currentAC = ViewBag.ContextRow;
    if (ViewBag.ContextRow == null && Model.Count>0)
    {
        currentAC = Model[0];
    }

}


<div class="toc">@Html.Partial("TOC")</div>
<div class="container-fluid"><h3 class="scrnHdr">@Html.TranlateLabel(fm.AtMng, "Activity", "Activité")</h3></div>
@*<input name="btnActivity" type="button" id="btnActivity" value="Activity JSON" />
<script type="text/javascript">
    $("#btnActivity").click(function () {
        var actionUrl = '@Url.Action("Activity", "File", new { fileid = fm.CurrentFileId })';
        $.getJSON(actionUrl, function (result) {
            alert("hi");
            alert(result); 
        });
    });

    function displayData(response) {

            alert(response);


    }
</script>*@
<div class="container-fluid bcc">
    <table class="table table-condensed atTbl atTblTop">
        <thead>
            <tr>
                <th>@Html.TranlateLabel(fm.AtMng, "Date", "Date")</th>
                <th>@Html.TranlateLabel(fm.AtMng, "Code", "Code")</th>
                <th>@Html.TranlateLabel(fm.AtMng, "Office", "Bureau")</th>
                <th>@Html.TranlateLabel(fm.AtMng, "Officer", "Agent")</th>
                <th>@Html.TranlateLabel(fm.AtMng, "To", "À")</th>
                <th>@Html.TranlateLabel(fm.AtMng, "Description", "Description")</th>
            </tr>
        </thead>
        <tbody>

            @foreach (lmDatasets.atriumDB.ActivityRow ar in Model)
            {
                string hilite = "";
                bool isCurrent = false;
                if (ar.ActivityId == currentAC.ActivityId)
                {
                    isCurrent = true;
                    hilite = "selectRow";
                }
                <tr class="tRow @hilite">
                    <td>
                        @if (!isCurrent)
                        {
                            <a href="@Url.Action("Activity", new { fileid = fm.CurrentFileId, linkid = ar.ActivityId, page = Model.PageNumber })"> @ar.ActivityDate.ToString("yyyy/MM/dd")</a>
                        }
                        else
                        {
                            @ar.ActivityDate.ToString("yyyy/MM/dd");
                        }
                    </td>
                    <td>@ar.StepCode</td>
                    <td>@Html.ResolveLookup(ar.OfficeId, "OfficeList", fm, "OfficeCode")</td>
                    <td>@fm.AtMng.OfficeMng.GetOfficer().FindLoad(ar.OfficerId).DisplayName</td>
                    <td>
                        @{if (!ar.IsToNull())
                        { @ar.To } } &nbsp;
                    </td>
                    <td>@ar.Translate("ActivityNameEng", fm)</td>
                </tr>
                if (!ar.IsActivityCommentNull())
                {
                    <tr class="@hilite">
                        <td></td>
                        <td colspan="5"><em><span class="text-info @hilite"> @ar.ActivityComment</span></em></td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <small>
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) @Html.TranlateLabel(fm.AtMng, " of ", " de ") @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Activity",
            new { page, fileId = fm.CurrentFileId }))

    </small>
    @if(currentAC!=null)
    { 
    <div class="panel panel-info pnlA5 col-xs-12">
        <div class="panel-body">
            <div class="form-group frmAt">
                <div class="col-xs-3">
                    <label class="control-label">@Html.TranlateLabel(Helper.Atmng(), "Activity Date", "Date de l'activité")</label>
                </div>
                <div class="col-xs-9">
                    <p class="form-control-static">@currentAC.ActivityDate.ToString("yyyy/MM/dd")</p>
                </div>
            </div>
            <div class="form-group frmAt">
                <div class="col-xs-3">
                    <label class="control-label">@Html.TranlateLabel(Helper.Atmng(), "Step Code", "Code d'étape")</label>
                </div>
                <div class="col-xs-9">
                    <p class="form-control-static">@currentAC.StepCode</p>
                </div>
            </div>
            <div class="form-group frmAt">
                <div class="col-xs-3">
                    <label class="control-label">@Html.TranlateLabel(Helper.Atmng(), "Officer", "Agent")</label>
                </div>
                <div class="col-xs-9">
                    <p class="form-control-static">@Html.ResolveLookup(@currentAC.OfficerId, "vofficerlist", fm, null)</p>
                </div>
            </div>
            <div class="form-group frmAt">
                <div class="col-xs-3">
                    <label class="control-label">@Html.TranlateLabel(Helper.Atmng(), "Office", "Bureau")</label>
                </div>
                <div class="col-xs-9">
                    <p class="form-control-static">@Html.ResolveLookup(@currentAC.OfficeId, "vofficelist", fm, null)</p>
                </div>
            </div>
            <div class="form-group frmAt">
                <div class="col-xs-3">
                    <label class="control-label">@Html.TranlateLabel(Helper.Atmng(), "Activity Description", "Description de l'activité")</label>
                </div>
                <div class="col-xs-9">
                    <p class="form-control-static">@currentAC.Translate("ActivityNameEng", fm)</p>
                </div>
            </div>
            <div class="form-group frmAt">
                <div class="col-xs-3">
                    <label class="control-label">@Html.TranlateLabel(Helper.Atmng(), "Activity Comment", "Commentaire")</label>
                </div>
                <div class="col-xs-9">
                    <p class="form-control-static">@if(!currentAC.IsActivityCommentNull()){ @currentAC.ActivityComment}</p>
                </div>
            </div>

            @if (!currentAC.IsDocIdNull() && fm.AtMng.SecurityManager.CanRead(fm.CurrentFileId, atSecurity.SecurityManager.Features.Document)> atSecurity.SecurityManager.LevelPermissions.No )
            {
                <div class="form-group frmAt">
                    <div class="col-xs-3">
                        <label class="control-label"><a class="btn btn-primary btn-xs" style="margin:6px 0px 12px 0px;" target="_blank" href="~/doc.aspx?docid=@currentAC.DocId">@Html.TranlateLabel(Helper.Atmng(), "View Document", "Afficher document")</a></label>
                    </div>
                    
                    </div>
                    }

                </div>
</div>
    }